.accordion details {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
  margin-top: 0;
}

.accordion details p {
  margin-bottom: 0.8em;
}

.accordion details summary {
  position: relative;
  padding: 1.5rem 3rem 1.5rem 0;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.3s ease;
  font-weight: 600;
  font-size: 1.05rem;
}

.accordion details[open] summary {
  background-color: transparent;
}

.accordion details summary:focus,
.accordion details summary:hover {
  background-color: transparent;
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  font-size: 1.5rem;
  line-height: 1;
  border: none;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion details[open] summary::after {
  content: '−';
  transform: translateY(-50%);
}

.accordion details .accordion-item-body {
  padding: 0 0 1.5rem 0;
}

.accordion details[open] .accordion-item-body {
  border-top: none;
  background-color: transparent;
}
