.tabs .tabs-list {
  display: flex;
  gap: 1rem;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  overflow-x: auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

@media (width >= 600px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-m);
  }
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  padding: 1em 1.5em;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: color 0.3s ease, border-color 0.3s ease;
  position: relative;
  bottom: -2px;
}

.tabs .tabs-list button:hover {
  color: var(--text-color);
  background-color: transparent;
}

.tabs .tabs-list button p {
  margin: 0;
}

.tabs .tabs-list button[aria-selected='true'] {
  border-bottom: 3px solid var(--accent-primary);
  background-color: transparent;
  color: var(--text-color);
  cursor: initial;
}

.tabs .tabs-panel {
  margin-top: 2rem;
  padding: 0;
  border: none;
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}

.tabs .tabs-panel img {
  border-radius: 1.25rem;
  width: 100%;
  height: auto;
}
