.columns-image > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.columns-image img {
  width: 100%;
  border-radius: 1.25rem;
  object-fit: cover;
}

.columns-image > div > div {
  order: 1;
}

.columns-image > div > .columns-image-img-col {
  order: 0;
}

.columns-image > div > .columns-image-img-col img {
  display: block;
}

/* Button layout in columns */
.columns-image > div > div:has(p > a.button) {
  text-align: center;
}

.columns-image p:has(> a.button:only-child) {
  display: inline-block;
  margin-right: 1rem;
}

.columns-image p:has(> a.button:only-child):last-of-type {
  margin-right: 0;
}

@media (width >= 900px) {
  .columns-image > div {
    align-items: center;
    flex-direction: unset;
    gap: 3rem;
  }

  .columns-image > div > div {
    flex: 1;
    order: unset;
  }
}
