.cards-features > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 40px 24px;
}

.cards-features > ul > li {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.cards-features .cards-features-card-body {
  margin: 0;
  padding: 0;
  color: var(--text-color-secondary);
  font-size: var(--body-font-size-xs);
  line-height: var(--body-line-height);
}

.cards-features .cards-features-card-image {
  line-height: 0;
  margin-bottom: 16px;
}

.cards-features > ul > li img {
  width: 48px;
  height: 48px;
  aspect-ratio: 1;
  object-fit: contain;
}
