.accordion-faq details {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion-faq details + details {
  margin-top: 0;
}

.accordion-faq details p {
  margin-bottom: 0.8em;
}

.accordion-faq details summary {
  position: relative;
  padding: 24px 48px 24px 0;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  font-weight: 400;
  transition: all 0.2s;
}

.accordion-faq details[open] summary {
  background-color: transparent;
}

.accordion-faq details summary:focus,
.accordion-faq details summary:hover {
  background-color: transparent;
  opacity: 0.7;
}

.accordion-faq details summary::-webkit-details-marker {
  display: none;
}

.accordion-faq details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%) rotate(135deg);
  width: 8px;
  height: 8px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}

.accordion-faq details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion-faq details .accordion-faq-item-body {
  padding: 0 0 24px;
}

.accordion-faq details[open] .accordion-faq-item-body {
  border-top: none;
  background-color: transparent;
}

.accordion-faq details .accordion-faq-item-body p {
  color: var(--text-color-secondary);
  font-size: var(--body-font-size-xs);
}
