.tabs-showcase .tabs-showcase-list {
  display: flex;
  gap: 0;
  max-width: 100%;
  font-size: var(--body-font-size-s);
  overflow-x: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tabs-showcase .tabs-showcase-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  padding: 16px 24px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  text-overflow: unset;
  overflow: unset;
  white-space: nowrap;
  transition: all 0.2s;
}

.tabs-showcase .tabs-showcase-list button p {
  margin: 0;
}

.tabs-showcase .tabs-showcase-list button:hover {
  color: white;
  background-color: transparent;
}

.tabs-showcase .tabs-showcase-list button[aria-selected='true'] {
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: default;
}

.tabs-showcase .tabs-showcase-panel {
  margin-top: 0;
  padding: 48px 0 0;
  border: none;
  overflow: auto;
}

.tabs-showcase .tabs-showcase-panel[aria-hidden='true'] {
  display: none;
}

.tabs-showcase .tabs-showcase-panel img {
  width: 100%;
  border-radius: 12px;
  margin-top: 24px;
}
